@define-color white          #fefefe;
@define-color surface        #e0e0e0;
@define-color accent-cool    #d6e2e9;
@define-color accent-warm    #a1887f;
@define-color clay           #d7ccc8;
@define-color light          #f5f5f5;
@define-color pink           #f48fb1;
@define-color red            #fd6f81;
@define-color peach          #ffcc80;
@define-color yellow         #fff59d;
@define-color green          #aed581;
@define-color cyan           #80deea;
@define-color blue           #90caf9;
@define-color lavender       #ce93d8;
@define-color rose           #bcaaa4;
@define-color magenta        #ba8baf;
@define-color brown          #a16946;
@define-color text-dark      #4a4a4a;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: @text-dark;
  background: @surface;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @text-dark;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @rose;
}

#workspaces button.urgent {
  color: @red;
  font-weight: bold;
}

#tray {
  margin: 4px 4px 4px 4px;
  padding: 0 6px 0 0;
  border-radius: 4px;
  background-color: @rose;
}

#tray * {
  padding: 0 0 0 6px;
}

#mode, #battery, #cpu, #memory, 
#network, #pulseaudio, #idle_inhibitor, 
#backlight, #custom-storage, #custom-updates, 
#custom-weather, #custom-mail, #clock, #temperature, #language {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @rose;
  border-radius: 4px;
  min-width: 20px;
  color: @text-dark;
}

#pulseaudio.muted {
  color: @brown;
}

#pulseaudio.bluetooth {
  color: @cyan;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: @rose;
}

#temperature.critical {
  color: @brown;
}

#window {
  font-size: 0.9em;
  font-weight: 400;
  font-family: sans-serif;
  color: @text-dark;
}

#language {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: -1px;
  color: @text-dark;
}
